<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>fnaf </title>
  </head>
  <body>
    <form action="search" method="POST">
      <fieldset>
        <label for="category">DocPac Type</label>
        <select name="category" id="category">
          <option value="Goals" selected="selected">Goals</option>
          <option value="ID">Included Documentation</option>
          <option value="RD">Required Documentation</option>
          <option value="Changes">Changes</option>
          <option value="Events">Events</option>
        </select>
      </fieldset>
      <input type="submit" value="Search">
    </form>
  </body>
</html>
